extends layout

block content
  != page.html
  #display
  script(src='lib/d3/d3.v3.min.js')
  script(src='javascripts/d3.line.js')
  style
   svg {
   font: 10px sans-serif;
   }
   path {
   fill: #5eccd6;
   }
   .axis path, .axis line {
   fill: none;
   stroke: #333;
   shape-rendering: crispEdges;
   }
   .brush .extent {
   stroke: #fff;
   fill-opacity: .125;
   shape-rendering: crispEdges;
   }