extends layout

block content
  != page.html
  .well
    h1 Twitter Hashtags
    h2 Hashtags
    p
      | For Twitter data, all hashtags aggregated by volume. This data is useful to understand common topics and interests that were captured within the content.
    p
      a.btn.btn-primary(href='data/hashtag_volume.csv') Download