.navbar
  .navbar-inner
    .container
      ul.nav
       - if (locals.page._filename === 'index.md') 
          li.active
           a(href='index.html') Home
       - else
          li
           a(href='index.html') Home
       <!--
       - if (locals.page._filename === 'volume.md')      
          li.active
           a(href='volume.html') Volume
       - else
          li
           a(href='volume.html') Volume
  
       if (Object.keys( hashtags ).length !== 0)
        - if (locals.page._filename === 'content.md') 
          li.active
           a(href='content.html') Content
        - else
          li
           a(href='content.html') Content-->