extends layout

block content
  != page.html
  .well
    h1 Salience
    if ((salience.sentiment.daydata && Object.keys( salience.sentiment.daydata ).length !== 0) || (salience.sentiment.hourdate && Object.keys( salience.sentiment.hourdate ).length !== 0) || (salience.sentiment.minutedata && Object.keys( salience.sentiment.minutedata ).length !== 0)) 
      h2 Salience Sentiment
      p
        | The sentiment score is derived using the Salience engine, delivering a score between -20 and +20. A negative value indicates a negative sentiment, zero representing a nuetral sentiment and a positive value indicates a positive sentiment.
      
      if (salience.sentiment.daydata && Object.keys( salience.sentiment.daydata ).length !== 0)
       h3 Average by Day
       p
         a.btn.btn-primary(href='data/sentiment_by_day.csv') Download
      if (salience.sentiment.hourdata && Object.keys( salience.sentiment.hourdata ).length !== 0)
       h3 Average by Hour
       p
         a.btn.btn-primary(href='data/sentiment_by_hour.csv') Download
      if (salience.sentiment.minutedata && Object.keys( salience.sentiment.minutedata ).length !== 0)
       h3 Average by Minute
       p
         a.btn.btn-primary(href='data/sentiment_by_minute.csv') Download               
      br
    if (salience.topics && Object.keys( salience.topics ).length !== 0) 
      h2 Salience Topics
      p
        | Salience Topics are a high level topics extracted from the content. This data shows all topics extracted from the sample data ordered by volume. The Salience engine currently supports 40 topics in total that can be reviewed 
        a(href='http://dev.datasift.com/docs/getting-started/data/salience-topics-info', target='_blank') here
        | .
      p
        a.btn.btn-primary(href='data/salience_topics.csv') Download
      br
    if (salience.locations && Object.keys( salience.locations ).length !== 0)
    h2 Salience Entity Locations
    p
      | Locations extracted from entities whose type is set to "Place". This data is useful to identify what places are being discussed. Note that this does not indicate the location of where the content originated, but highlights any locations that were discussed as part of the interaction content.
    p
      a.btn.btn-primary(href='data/salience_entity_locations.csv') Download