extends layout

block content
  != page.html
  ul
   each val, key in tags
    if(typeof(val) === 'number')
     li #{key} -  #{val}  
  #pie
  #display  
  script(src='lib/d3/d3.v3.min.js')
  script(src='javascripts/d3.multiline.js')
  script(src='javascripts/d3.pie.js')
  style
    svg {
    font: 10px sans-serif;
    }
    .axis path,
    .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    }
    .x.axis path {
    display: none;
    }
    .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
    }
  h2 Download Data
  .well
    h1 Tags
    h2 Tag Volume
    p
      | All tags aggregated by volume. Tags can be added to a DataSift filter in order to apply additional metadata to the output.
    p
      a.btn.btn-primary(href='data/tag_volume.csv') Download
    br
    h2 Tag Volume by Day
    p
      | Tag volumes aggregated by day.
    p
      a.btn.btn-primary(href='data/tag_volume_by_day.csv') Download
    br
    h2 Tag Volume by Hour
    p
      | Tag volumes aggregated by hour.
    p
      a.btn.btn-primary(href='data/volume_by_hour.csv') Download      