extends layout

block content
  != page.html
  #display
  script(src='lib/d3/d3.v3.min.js')
  script(src='javascripts/d3.line.js')
  style
   svg {
   font: 10px sans-serif;
   }
   path {
   fill: #5eccd6;
   }
   .axis path, .axis line {
   fill: none;
   stroke: #333;
   shape-rendering: crispEdges;
   }
   .brush .extent {
   stroke: #fff;
   fill-opacity: .125;
   shape-rendering: crispEdges;
   }
  h2 Download Data  
  .well
    h1 Volume Aggregates
    h2 Volume by Day
    p
      | Interaction volumes aggregated by day.
    p
      a.btn.btn-primary(href='data/volume_by_day.csv') Download
    br
    h2 Volume by Hour
    p
      | Interaction volumes aggregated by hour.
    p
      a.btn.btn-primary(href='data/volume_by_hour.csv') Download
    br
    h2 Volume by Minute
    p
      | Interaction volumes aggregated by minute.
    p
      a.btn.btn-primary(href='data/volume_by_minute.csv') Download